body {
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    margin: 0;

}


header {
    background-color: rgb(116, 198, 253);
    padding: 10px;
    text-align: center;
}


nav {
    background-color: blueviolet;
    color: black;
    padding: 10px;
    text-align: center;
}


.m1 {
    display: flex;
    flex: 1;
}


.main-content {
    display: flex;
    flex: 1;
    height: 800px;
}


.sidebarleft {
    width: 20%;
    background-color: blanchedalmond;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.content-area {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.second-nav {
    background-color:palevioletred;
    padding: 10px;
    margin-bottom: 10px;
    width: 136%;
    
    
}



.week-selectie ul li {
    display: inline-block;
    margin-right: 50px; 
    margin-left: 30px;
  }




.second-nav ul li {
    display: inline-block;
    margin-right: 10px; 
  }



.main-content-inner {
    display: flex;
    flex: 1;
}



.container-grid1 {
    

    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    margin-top: 1cm;

    /*grid-gap: 20px;*/
    /*grid-auto-rows: 290px;*/
          
}


.sectie {
    grid-column: 1;
    grid-row: 1;
    color: #49382E;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 3cm;    
    margin-top: 2cm; 
    border: 2px solid #49382E;
}



.sidebar-right {
    width: 20%;
    background-color: blanchedalmond;
    padding: 10px;
    margin-top: 140px;
    
}


.section1, .section2, .section3 {
    height: 100px;
    width: 100px;
}


footer {
    background-color: rgb(116, 198, 253);
    padding: 10px;
    text-align: center;
}


.footer1 {
    margin-left: 350px;
    
}


